<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3a2be">  <td>21/12/11 16:16:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SourceCodePageTest.setUp()[pri:0, instance:com.testcases.SourceCodePageTest@fba92d3]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2017085051</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>21/12/11 16:16:39</td>   <td>7917</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SourceCodePageTest.tearDown()[pri:0, instance:com.testcases.SourceCodePageTest@fba92d3]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2017085051</td>   <td></td> </tr>
<tr bgcolor="a3a2be">  <td>21/12/11 16:16:39</td>   <td>7888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SourceCodePageTest.verifyGitLabTitle()[pri:0, instance:com.testcases.SourceCodePageTest@fba92d3]">verifyGitLabTitle</td> 
  <td>main@2017085051</td>   <td></td> </tr>
</table>
