<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f8776">  <td>21/12/11 16:27:27</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePageTest.setUp()[pri:0, instance:com.testcases.HomePageTest@505fc5a4]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>21/12/11 16:27:33</td>   <td>6082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyDescriptionText()[pri:0, instance:com.testcases.HomePageTest@505fc5a4]">verifyDescriptionText</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>21/12/11 16:27:34</td>   <td>7125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyFooterLinks()[pri:0, instance:com.testcases.HomePageTest@505fc5a4]">verifyFooterLinks</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>21/12/11 16:27:35</td>   <td>7434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyImage()[pri:0, instance:com.testcases.HomePageTest@505fc5a4]">verifyImage</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>21/12/11 16:27:35</td>   <td>7529</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePageTest.verifyTitle()[pri:0, instance:com.testcases.HomePageTest@505fc5a4]">verifyTitle</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="6f8776">  <td>21/12/11 16:27:35</td>   <td>7551</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomePageTest.tearDown()[pri:0, instance:com.testcases.HomePageTest@505fc5a4]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>21/12/11 16:27:35</td>   <td>7642</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SearchBoxPageTest.setUp()[pri:0, instance:com.testcases.SearchBoxPageTest@5fbdfdcf]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>21/12/11 16:27:39</td>   <td>11468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchBoxPageTest.verifySeachResult()[pri:1, instance:com.testcases.SearchBoxPageTest@5fbdfdcf]">verifySeachResult</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>21/12/11 16:27:40</td>   <td>13140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SearchBoxPageTest.validateProjectURL()[pri:2, instance:com.testcases.SearchBoxPageTest@5fbdfdcf]">validateProjectURL</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="bca8a3">  <td>21/12/11 16:27:43</td>   <td>16018</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SearchBoxPageTest.tearDown()[pri:0, instance:com.testcases.SearchBoxPageTest@5fbdfdcf]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>21/12/11 16:27:43</td>   <td>16101</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;CommandLineDocsPageTest.setUp()[pri:0, instance:com.testcases.CommandLineDocsPageTest@4efc180e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>21/12/11 16:27:52</td>   <td>24872</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CommandLineDocsPageTest.verifyGitLabTitle()[pri:0, instance:com.testcases.CommandLineDocsPageTest@4efc180e]">verifyGitLabTitle</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>21/12/11 16:27:52</td>   <td>25027</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CommandLineDocsPageTest.verifyToptalLogoIsPresent()[pri:0, instance:com.testcases.CommandLineDocsPageTest@4efc180e]">verifyToptalLogoIsPresent</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="c9af63">  <td>21/12/11 16:27:56</td>   <td>28916</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;CommandLineDocsPageTest.tearDown()[pri:0, instance:com.testcases.CommandLineDocsPageTest@4efc180e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>21/12/11 16:27:56</td>   <td>29054</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SourceCodePageTest.setUp()[pri:0, instance:com.testcases.SourceCodePageTest@bd4dc25]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>21/12/11 16:28:03</td>   <td>36021</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SourceCodePageTest.verifyGitLabTitle()[pri:0, instance:com.testcases.SourceCodePageTest@bd4dc25]">verifyGitLabTitle</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>21/12/11 16:28:03</td>   <td>36043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SourceCodePageTest.verifySeachResult()[pri:0, instance:com.testcases.SourceCodePageTest@bd4dc25]">verifySeachResult</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="7acd7b">  <td>21/12/11 16:28:03</td>   <td>36143</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SourceCodePageTest.tearDown()[pri:0, instance:com.testcases.SourceCodePageTest@bd4dc25]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="b4fe8a">  <td>21/12/11 16:28:04</td>   <td>36220</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ToptalPageTest.setUp()[pri:0, instance:com.testcases.ToptalPageTest@25084a1e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="b4fe8a">  <td>21/12/11 16:28:10</td>   <td>42894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToptalPageTest.verifyToptalPageDescription()[pri:0, instance:com.testcases.ToptalPageTest@25084a1e]">verifyToptalPageDescription</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="b4fe8a">  <td>21/12/11 16:28:10</td>   <td>43103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ToptalPageTest.verifyToptalPageTitle()[pri:0, instance:com.testcases.ToptalPageTest@25084a1e]">verifyToptalPageTitle</td> 
  <td>main@775514090</td>   <td></td> </tr>
<tr bgcolor="b4fe8a">  <td>21/12/11 16:28:10</td>   <td>43119</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ToptalPageTest.tearDown()[pri:0, instance:com.testcases.ToptalPageTest@25084a1e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@775514090</td>   <td></td> </tr>
</table>
